# Basics:

## Tips:

- use `_` for **empty value**: e.g. `for _, row in df.iterrows():` ... where `_` replaces `index` which is not used in the for cycle
- `apply` works on a row / column basis of a DataFrame, `applymap` works element-wise on a DataFrame, `map` works element-wise on a Series

In [1]:
# Importing main libraries:
import pandas as pd
import numpy as np
import datetime

# Statistics and EDA libraries:
import scipy as stats
import sweetviz as sv
from ydata_profiling import ProfileReport  # former pandas_profiling!

# Plotting libraries:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Setting-up the display options for Pandas dataframes to display all the columns (not truncated):
pd.options.display.max_columns = None
pd.options.display.max_rows = None

# Creating a class for different print styles:
class style:
    #-------------------
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'
    BLUE = '\033[94m'
    GREEN = '\033[92m'
    RED = '\033[91m'
    #-------------------
    YELLOW = '\033[93m'
    PURPLE = '\033[95m'
    CYAN = '\033[96m'
    DARKCYAN = '\033[36m'
    #-------------------
    END = '\033[0m'
    #-------------------

### Basic arithmetics:

In [2]:
2+3

5

In [3]:
7/4

1.75

In [3]:
7 % 4

3

In [4]:
2 ** 3

8

In [11]:
a = 320

In [12]:
type(a)

int

### Strings:

- **string[integer]** results in one character.
- **string[start : end : step]**  results in the slice of the string (here, **start** is **inclusive** and **end** is **non-inclusive**)

In [10]:
b = "Hi how are you?"

In [11]:
type(b)

str

In [12]:
b[1]

'i'

**String slicing:**

In [23]:
# Slicing using all the information:
b[3:100:1]

'how are you?'

In [16]:
# Slicing using minimum information results also in the same string:
b[3:]

'how are you?'

In [24]:
# Choosing all the characters of the string with the step of 2:
b[::2]

'H o r o?'

In [25]:
# Second character from the last:
b[-2]

'u'

In [21]:
# Reverse order of string characters:
b[::-1]

'?uoy era woh iH'

In [ ]:
a = "Hello World"
a[-3]

'r'

In [ ]:
"Hello World"[-3]

'r'

In [ ]:
"tinker"[1:4]

'ink'

**Excape signs:**

In [26]:
print("Hi \n Hello")

Hi
 Hello

In [25]:
print("Hi \t Hello")

Hi 	 Hello

In [238]:
# Length of the string:
len(b)

15

In [240]:
c = "I'm fine"

**Concatenation of strings:**

In [246]:
d = b + "\n" + c
print(d)

Hi how are you?
I'm fine

**Joining of strings using a separator in a .join() method:**

The **'separator'.join(iterable)** method takes all items in an iterable and joins them into one string where the items are sepated using a defined separator.

In [11]:
mylist = ['20','25','30']

joined_string = ' and '.join(mylist)
print(joined_string)
my_sentence = f"My list contains these numbers: {' and '.join(mylist)}"
print(my_sentence)
my_advanced_sentence = f"My list contains these numbers: {mylist[0]}, {' and '.join(mylist[1:])}"
print(my_advanced_sentence)

20 and 25 and 30
My list contains these numbers: 20 and 25 and 30
My list contains these numbers: 20, 25 and 30

**String functions**

In [248]:
x = "Hello World. How are you. I am fine"

In [249]:
x.upper()

'HELLO WORLD. HOW ARE YOU. I AM FINE'

In [250]:
# Splitting of the string using whitespaces:
x.split()

['Hello', 'World.', 'How', 'are', 'you.', 'I', 'am', 'fine']

In [251]:
# Splitting of the string using dots:
x.split('.')

['Hello World', ' How are you', ' I am fine']

In [252]:
x.split('.')[1]

' How are you'

**Formatting using .format():**

In [66]:
print("This is a string: {}".format(x))

This is a string: Hello World. How are you. I am fine

In [68]:
print("The {} {} {}".format("quick","brown","fox"))

The quick brown fox

In [69]:
print("The {0} {0} {0}".format("quick","brown","fox"))

The quick quick quick

In [70]:
print("The {q} {b} {f}".format(q="quick",b="brown",f="fox"))

The quick brown fox

In [71]:
result = 100/777

In [72]:
result

0.1287001287001287

In [73]:
print("The result is: {r}".format(r=result))

The result is: 0.1287001287001287

In [74]:
print(f"The result is: {result}")

The result is: 0.1287001287001287

In [79]:
print("The result is: {r:.3f}".format(r=result))

The result is: 0.129

**Using f-formatting:**

In [80]:
print(f"The result is: {result:.3f}")

The result is: 0.129

In [91]:
print(f"The result is: {result:.2f}")

The result is: 0.13

In [92]:
result = 104.12345

In [253]:
print("{0:8}  |  {1:9}".format("Fruit", "Quantity"))

Fruit     |  Quantity

In [8]:
fruit = ["Fruit", "Apple", "Orange"]
quantity = ["Quantity", 10, 20]

for i in range(len(fruit)):
    print(f"{fruit[i]:<8}  |  {quantity[i]:<9}")

Fruit     |  Quantity
Apple     |  10
Orange    |  20

## Data structures

Python offers 4 main data structures:
- **List**
- **Tuple**
- **Set**
- **Dictionary**

### Lists

List creates a **unsorted list** of values that **can be edited** (i.e. it is mutable).

In [127]:
# Lists:
new_list = ['one','two','three','four','five']
new_list

['one', 'two', 'three', 'four', 'five']

In [128]:
# Altering the list:
new_list[0] = 'ONE'
new_list

['ONE', 'two', 'three', 'four', 'five']

In [129]:
# Appending a new element to the list:
new_list.append('six')
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [130]:
# Slicing the list:
new_list[0:3]

['ONE', 'two', 'three']

In [131]:
# Removing last element from the list:
new_list.pop()
new_list

['ONE', 'two', 'three', 'four', 'five']

In [132]:
# Removing an element with a specific index from the list:
new_list.pop(1) # removes a second element from the list
new_list

['ONE', 'three', 'four', 'five']

In [133]:
# Alternative way of removing a specific element from a list:
del(new_list[1]) # removes a second element from the list
new_list

['ONE', 'four', 'five']

In [33]:
# Sorting the list with altering original list:
new_list = [3,5,9,8,7,6,2,3,1]
new_list.sort()  # changes the original list
new_list

[1, 2, 3, 3, 5, 6, 7, 8, 9]

In [254]:
# Sorting the list without a altering original list:
new_list = [3,5,9,8,7,6,2,3,1]
print(sorted(new_list))  # does not change the original list
print(new_list)

[1, 2, 3, 3, 5, 6, 7, 8, 9]
[3, 5, 9, 8, 7, 6, 2, 3, 1]

In [257]:
# Showing the index position of an element using .index(): 
new_list = ['three','four','five']
new_list.index('four')

1

In [258]:
# Showing the value of an element using index: 
new_list[1]

'four'

In [259]:
# List comprehension:
a = [element[0] for element in [[0,10,20],[10,50,80],[20,30,40]] ]
print(a)

[0, 10, 20]

### Dictionaries

Created unsorted list of **key-value pairs** that **can be edited**.

In [260]:
# Creating a dictionary:
my_dictionary = {'apple':12.2, 'orange':25.0}
my_dictionary['apple']

12.2

In [37]:
my_dictionary['apple'] = 12
my_dictionary

{'apple': 12, 'orange': 25.0}

In [48]:
my_dictionary['orange'] = {'red':26.8, 'yellow':24.2}
my_dictionary['orange']

{'red': 26.8, 'yellow': 24.2}

In [49]:
my_dictionary['orange']['red']

26.8

In [42]:
my_dictionary.keys()

dict_keys(['apple', 'orange'])

In [41]:
my_dictionary.values()

dict_values([12, 25.0])

In [43]:
my_dictionary.items()

dict_items([('apple', 12), ('orange', 25.0)])

In [51]:
my_dictionary['meat'] = [25,15,8]
my_dictionary

{'apple': 12, 'orange': {'red': 26.8, 'yellow': 24.2}, 'meat': [25, 15, 8]}

### Tuples

Tuples create an **unsorted list** of values that **cannot be edited** = **immutable**.

In [1]:
# Creating a tuple:
my_tuple = (10,'one',25,10)
my_tuple

(10, 'one', 25, 10)

In [2]:
my_tuple[-1]

10

In [66]:
my_tuple.count(10)

2

In [4]:
my_tuple[0] = 20

TypeError: 'tuple' object does not support item assignment

### Sets

Set creates a **sorted list** of **unique** values, that can be edited.

In [69]:
# Creating a set:
my_set = set()
my_set

set()

In [75]:
my_set.add(25)
my_set

{25}

In [76]:
my_set.add(1)
my_set

{1, 25}

In [84]:
my_set_2 = {10,15,25,48}
type(my_set_2)

set

In [79]:
my_set = set([25,10,15,15,15,25,80])
my_set

{10, 15, 25, 80}

In [80]:
set('Mississippi')

{'M', 'i', 'p', 's'}

## Booleans

**Booleans** consist of two values: `True` and `False`

In [81]:
# Comparing two numbers using Booleans logic:
1 > 2

False

In [111]:
1 == 1

True

## Working with files

**Showing a Working directory (pwd = print working directory):**

In [261]:
pwd

'c:\\Users\\Jakub.Cajzl\\OneDrive - Adastra, s.r.o\\Work\\Projects\\00_Learning\\Python\\GitLab\\learning-python'

**Writing a text file:**

In [4]:
%%writefile myfile.txt
Hello this is a text file
this is a second line
this is a third line

Writing myfile.txt

**Opening a file:**

In [217]:
myfile = open('myfile.txt')
myfile

**Reading a file:**

In [218]:
myfile.read()

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

In [219]:
# Changing the cursor position to the beginning:
myfile.seek(0)

0

In [220]:
# Reading a text file line-by-line:
myfile.readlines()

['Hello this is a text file\n',
 'this is a second line\n',
 'this is a third line\n']

**Closing a text file:**

In [94]:
myfile.close()

**Opening and reading a text file without a need for closing it:**

In [97]:
with open('myfile.txt') as myfile:
    contents = myfile.read()

'Hello this is a text file\nthis is a second line\nthis is a third line\n'

In [118]:
# Choosing a mode of an open file:
with open('myfile.txt', mode='r') as myfile:
    print(myfile.read())

one
two
three

In [125]:
with open('myfile.txt', mode='a+') as myfile:
    myfile.write('\nfour')
    
with open('myfile.txt') as myfile:
    print(myfile.read())

one
two
three
four
five
four

In [126]:
for line in open('myfile.txt'):
    print(line)

one

two

three

four

five

four

In [148]:
with open('test.txt', mode='w') as f:
    f.write('Hello world')
    
with open('test.txt', mode='r') as f:
    print(f.read())

Hello world

In [156]:
f = open('test.txt', mode='w')
f.write('Hello World')
f.close()

with open('test.txt') as f:
    print(f.read())

Hello World

## Operators

### Artithmetic Operators

- Addition: `+`
- Subtraction: `-`
- Multiplication: `*`
- Division: `/`
- Exponent: `**`
- Floor division: `//`
- Modulus: `%`

In [28]:
# Addition
print(5 + 2)

# Subtraction
print(5 - 2)

# Multiplication
print(5 * 2)

# Division
print(5 / 2)

# Exponent
print(5 ** 2)
# This is the same as 5 * 5

# Floor Division
print(5 // 2)

# Modulus
print(5 % 2)

7
3
10
2.5
25
2
1

In [32]:
# Concatenating strings using '+' sign:
firstName = 'Jakub'
introduction = "Hi, my name is " + firstName + "."
introduction

'Hi, my name is Jakub.'

### Assignment Operators

- Yields: `=`
- Incrementing usign addition: `+=`
- Incrementing usign subtraction: `-=`
- Incrementing usign multiplication: `*=`
- Incrementing usign division: `/=`
- Incrementing usign exponent: `**=`
- Incrementing usign floor division: `//=`
- Incrementing usign modulus: `%=`

In [36]:
balance = 0
print(balance)

balance += 15
print(balance)

0
15

### Comparison Operators

- Equal: `==`
- Not equal: `!=`
- Greater than: `>`
- Less than: `<`
- Greater than or equal: `>=`
- Less than or equal: `<=`

In [37]:
1 < 2

True

In [38]:
3**2 == 81**0.5

True

### Logical Operators

- `and` returns True if both operands are True
- `or` returns True if one of the operands is True
- `not` returns True if both operands are not True (i.e. False)

In [18]:
(1 < 2) and (2 > 3)

False

In [17]:
(1 < 2) or (2 > 3)

True

In [39]:
print(1 < 2 < 3)
# equals to:
print(1 < 2 and 2 < 3)

True
True

In [20]:
not(2==1)

True

### Precedence of the execution

| Order of execution | Operator | Description |
| -- | -- | -- |
1   |   **	        |   exponent
2	|   *, /, %, //	|   multiply, divide, modulo, floor division
3	|   +, -	    |   plus, minus
4	|   >, <, >=, <=	|   comparison
5	|   ==, !=	|   equality
6	|   = %= /= //= -= += *= **=	|   assignment
7	|   and, or, not	|   logical

## Basic conditional programming:

### If, Elif, Else:

In [7]:
a = 5
b = 20

if a == b:
    print("A is equal to B")
elif a+b == 25:
    print("A + B equals to 25")
else: 
    print("A is not equal to B")

A + B equals to 25

### For loops:

In [27]:
my_list = [0,1,2,3,4,5]

for number in my_list:
    print('number')

number
number
number
number
number
number

In [32]:
my_list = [0,1,2,3,4,5]

for number in my_list:
    # Check for even numbers:
    if (number % 2) == 0:
        print(f"Number {number} is even")
    else:
        print(f"Number {number} is not even, therefore odd")

Number 0 is even
Number 1 is not even, therefore odd
Number 2 is even
Number 3 is not even, therefore odd
Number 4 is even
Number 5 is not even, therefore odd

In [38]:
my_list = [(1,2),(8,7),(10,12)]

for item_1, item_2 in my_list:
    print(item_1)

1
8
10

In [41]:
my_dictionary = {'k1':20, 'k2':30, 'k3':40}

for x in my_dictionary:
    print(x)

k1
k2
k3

In [44]:
for x in my_dictionary.values():
    print(x)

20
30
40

In [46]:
for x in my_dictionary.keys():
    print(x)

k1
k2
k3

### While loops:

In [50]:
x = 0

while x <= 5:
    print(f"The current value of x is: {x}")
    x = x+1
else:
    print("The value of x greater than 5")

The current value of x is: 0
The current value of x is: 1
The current value of x is: 2
The current value of x is: 3
The current value of x is: 4
The current value of x is: 5
The value of x greater than 5

### Break, Continue, Pass:

In [56]:
# BREAK:

my_string = "Sammy"

for letter in my_string:
    if letter == 'a':
        break
    print(letter)

S

In [55]:
# CONTINUE:

my_string = "Sammy"

for letter in my_string:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

PASS keyword:

The pass statement is used as a placeholder for future code.

When the pass statement is executed, nothing happens, but you avoid getting an error when empty code is not allowed.

Empty code is not allowed in loops, function definitions, class definitions, or in if statements.

In [54]:
# PASS:

x = [1,2,3]

for item in x:
    pass  # avoids syntax error

print("End of my script")

End of my script

### Useful operators:

#### Range:

In [61]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

#### Enumerate:

In [232]:
# Enumerating a list using FOR loop:
word = "abcde"
index_count = 0

for letter in word:
    print(f"At index {index_count} the letter is: {letter}")
    index_count = index_count + 1

At index 0 the letter is: a
At index 1 the letter is: b
At index 2 the letter is: c
At index 3 the letter is: d
At index 4 the letter is: e

In [233]:
# Same using enumerate():
word = "abcde"

for index, letter in enumerate(word):
    print(f"At index {index} the letter is: {letter}")

At index 0 the letter is: a
At index 1 the letter is: b
At index 2 the letter is: c
At index 3 the letter is: d
At index 4 the letter is: e

#### Zip (used for creating tuples from two or more lists):

In [235]:
# ZIP:
list_1 = [1,2,3]
list_2 = ['a','b','c']
list_3 = [4,5,6]

for item in zip(list_1, list_2, list_3): 
    print(item)

(1, 'a', 4)
(2, 'b', 5)
(3, 'c', 6)

#### Booleans:

In [237]:
# Finding out if the number is in the list:
2 in [2,3,4]

True

In [236]:
# Finding out if the value is in the dictionary:
d = {'key':10}
10 in d.values()

True

#### Shuffle (random list ordering):

In [92]:
# Shuffle:
from random import shuffle
a = list(range(0,10))
shuffle(a)
a

[7, 6, 5, 3, 0, 9, 1, 8, 2, 4]

#### Random integers:

In [26]:
# Random integer:
from random import randint
np.array([randint(0,20) for num in range(0,100)])

array([18,  3,  3, 17,  9, 16,  3,  6, 14, 18, 15,  3, 16, 12,  2, 11, 14,
        6, 15,  3,  1,  9, 11, 10,  6,  5,  4, 20, 16, 18, 16,  0,  3,  4,
       18, 19,  9, 11, 10,  0,  6,  9, 14, 14,  1,  7, 17,  2,  2,  2, 10,
       12, 11, 20,  5, 13,  5, 14,  9, 10, 16, 13, 15,  8, 10, 15,  1, 10,
       12, 14, 17, 10, 14,  4,  3,  4,  9,  6,  4, 13,  7,  2,  0, 11, 16,
       18, 14,  6,  2, 10, 11,  7, 19,  9,  0, 12, 13, 10,  4,  7])

In [5]:
# NumPy random library:
np.random.randint(0,100,20)

array([ 4, 27, 75, 43, 51, 48, 98, 43, 52, 15,  6, 48, 61, 26, 87, 88, 10,
       92,  8, 61])

#### Input:

In [100]:
# Input:
result = float(input('Enter a number: '))
type(result)

float

### List comprehension:

List comprehension constructs a list using `for` loop in a concice way:

``` python
my_list = [elements for element in iterable]
```

In [102]:
mystring = 'hello'
mylist = []

for letter in mystring:
    mylist.append(letter)
    
mylist

['h', 'e', 'l', 'l', 'o']

In [105]:
# Same using List Comprehension:
mystring = 'hello'
mylist = [letter for letter in mystring]    
mylist

['h', 'e', 'l', 'l', 'o']

In [108]:
mylist = [num**2 for num in range(0,10)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [109]:
mylist = [num**2 for num in range(0,10) if num % 2 == 0]
mylist

[0, 4, 16, 36, 64]

In [110]:
celsius = [0,10,20,30]
fahrenheit = [( (9/5)*temp + 32) for temp in celsius]
fahrenheit

[32.0, 50.0, 68.0, 86.0]

In [113]:
word = "Hi how are you?"
mylist = [num for num in word if num.lower() != 'h']
mylist

['i', ' ', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?']

## Test questions:

In [154]:
# Write a program that prints integers from 1 to 100, where multiples of 3 are "Fizz", 
# muliples of 5 are "Buzz" and multiples of 3 and 5 are "FizzBuzz":

for number in range(1,101):
    if number % (3*5) == 0:
        print("FizzBuzz")
    elif number % 3 == 0:
        print("Fizz")
    elif number % 5 == 0:
        print("Buzz")
    else:
        print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [158]:
# Write a List comprehension to create a list of the first letters:
word = "Create a list of the first letters"

first_letters = [word[0] for word in word.split()]
first_letters

['C', 'r', 'e', 'a', 't', 'e']

In [152]:
# Print out words that start with 'l':
sentence = "Create a list of the first letters"

for word in sentence.split():
    if word[0].lower() == 'l':
        print(word)

list
letters

## Timestamp and Datetime

### datetime module:

- **datetime** module helps to deal with the **timestamps** in the code. 
- Time values are represented with the time classes. 
- Times have **attributes** for **hour**, **minute**, **second**, and **microsecond**. Attributes can also include **timezones** information. 
- The arguments to initialize a time instances are optional, but the default of 0 we don't want.

**Time:**

In [30]:
# Extracting an information from the datetime:

import datetime
t = datetime.time(14, 5, 10)

# Breaking down to different components of the datetime:
print(t)
print("Hour:", t.hour)
print("Minute:", t.minute)
print("Second:", t.second)
print("Microsecond:", t.microsecond)
print("Timezone:", t.tzinfo)

14:05:10
Hour: 14
Minute: 5
Second: 10
Microsecond: 0
Timezone: None

In [44]:
# Minimum and maximum values for times:
print("Earliest time:   ", datetime.time.min)
print("Latest time:     ", datetime.time.max)
print("Resolution:      ", datetime.time.resolution)

Earliest time:    00:00:00
Latest time:      23:59:59.999999
Resolution:       0:00:00.000001

**Date:**

In [35]:
# Today's date:
today = datetime.date.today()
print(today)

2024-04-23

In [45]:
# Elements of the date:
print('ctime:', today.ctime())
print('tuple:', today.timetuple())
print('ordinal:', today.toordinal())
print('Year:  ', today.year)
print('Month: ', today.month)
print('Day:   ', today.day)

ctime: Tue Apr 23 00:00:00 2024
tuple: time.struct_time(tm_year=2024, tm_mon=4, tm_mday=23, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=114, tm_isdst=-1)
ordinal: 738999
Year:   2024
Month:  4
Day:    23

In [39]:
# Minimum and maximum values for dates:
print('Earliest:    ', datetime.date.min)
print('Latest:      ', datetime.date.max)
print('Resolution:  ', datetime.date.resolution)

Earliest:     0001-01-01
Latest:       9999-12-31
Resolution:   1 day, 0:00:00

In [47]:
# Creating a custom date and a date using .replace() from the first date:
d1 = datetime.date(2022, 12, 10)
d2 = d1.replace(year = 1999)

print("d1:", d1)
print("d2:", d2)

d1: 2022-12-10
d2: 1999-12-10

In [55]:
# Difference between two dates:
d3 = abs(d2-d1)
print("The difference between d1 and d2 is:", d3)

The difference between d1 and d2 is: 8401 days, 0:00:00

In [56]:
type(d3)

datetime.timedelta

In [67]:
help(datetime.timedelta)

Help on class timedelta in module datetime:

class timedelta(builtins.object)
 |  Difference between two datetime values.
 |
 |  timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)
 |
 |  All arguments are optional and default to 0.
 |  Arguments may be integers or floats, and may be positive or negative.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __reduce__(...)
 |      __reduce__() -> (cls, state)
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  total_seconds(...)
 |      Total seconds in the duration.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  days
 |      Number of days.
 |
 |  microseconds
 |      Number of microseconds (>= 0 and less than 1 second).
 |
 |  seconds
 |      Number of seconds (>= 0 and less than 1 day).
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  max = datetime.timedelta(days=999999999, seconds=86399, microseconds=9...
 |
 |  min = datetime.timedelta(days=-999999999)
 |
 |  resolution = datetime.timedelta(microseconds=1)

In [109]:
# Converting weeks to days:
weeks_count = 50.8
print(f"{weeks_count} weeks are", datetime.timedelta(weeks=weeks_count))

50.8 weeks are 355 days, 14:24:00

In [110]:
# Playing with the string slicing:
weeks_count = 50.38

days = str(datetime.timedelta(weeks=weeks_count)).split()[0]
time = str(datetime.timedelta(weeks=weeks_count)).split()[2]
hours = time.split(':')[0]
minutes = time.split(':')[1]
seconds = time.split(':')[2]
print(f"{weeks_count} weeks are: \n{days} days, {hours} hours, {minutes} minutes and {seconds} seconds")

50.38 weeks are:
352 days, 15 hours, 50 minutes and 24 seconds