# Spark
## HDFS, Impala, Jupyter

## Vstup

- Pomoc√≠ Spark.sql poslat select na libovolnou LinFada tabulku a vytvo≈ôit tempView.
- CSV file (t≈ôeba Titanic)

## V√Ωstup

- Jupyter notebook na GIT/email.

In [135]:
!kdestroy
!kinit -kt ../Simona.Uhlikova.keytab Simona.Uhlikova
!klist

Ticket cache: FILE:/tmp/krb5cc_1512860934
Default principal: Simona.Uhlikova@DATALAB.ADASTRA.CZ

Valid starting       Expires              Service principal
04/21/2023 07:18:42  04/22/2023 07:18:42  krbtgt/DATALAB.ADASTRA.CZ@DATALAB.ADASTRA.CZ

In [136]:
# import modules
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [ ]:
spark = SparkSession.builder.appName("app").getOrCreate()

### 1) Data z tempView ulo≈æit do df
### 2) Vypsat schema df
### 3) Zobrazit df (vyzkou≈°et truncate), vypsat poƒçet ≈ô√°dk≈Ø

In [138]:
def linfada_data(database_name, table_name) -> DataFrame:

    # Load the data from the tempView into a DataFrame
    df = spark.sql(f"SELECT * FROM {database_name}.{table_name}")
    
    df.createOrReplaceTempView(table_name)

    # print the schema
    df.printSchema()

    # show contents of the DataFrame with the number of rows
    df.show(truncate=True)
    print(f"Poƒçet riadkov: {df.count()}")
    
    return df

In [139]:
#calling functions
linfada = linfada_data("linfada_mart","lin_downloaded_posts")

23/04/21 07:20:55 WARN conf.HiveConf: HiveConf of name hive.masking.algo does not exist
Hive Session ID = 4d3c0539-dbbb-4e31-ac8c-1b5aa2a386d4

root
 |-- id_downloaded_post: long (nullable = true)
 |-- post_text: string (nullable = true)
 |-- post_hashtags: string (nullable = true)
 |-- unique_impressions_count: integer (nullable = true)
 |-- share_count: integer (nullable = true)
 |-- engagement: float (nullable = true)
 |-- click_count: integer (nullable = true)
 |-- like_count: integer (nullable = true)
 |-- impression_count: integer (nullable = true)
 |-- comment_count: integer (nullable = true)
 |-- publish_time: timestamp (nullable = true)
 |-- last_edit_time: timestamp (nullable = true)
 |-- s_download_time: timestamp (nullable = true)
 |-- s_date: integer (nullable = true)

23/04/21 07:20:56 WARN security.ShellBasedUnixGroupsMapping: Some group names for 'simona.uhlikova' are not resolvable. id: cannot find name for group ID 1512800513
id: cannot find name for group ID 1512800513

[Stage 0:>                                                          (0 + 0) / 1]23/04/21 07:21:12 WARN cluster.YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/04/21 07:21:27 WARN cluster.YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/04/21 07:21:42 WARN cluster.YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/04/21 07:21:57 WARN cluster.YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
[Stage 0:>                                                          (0 + 0) / 1]23/04/21 07:22:12 WARN cluster.YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/04/21 07:22:27 WARN cluster.YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/04/21 07:22:42 WARN cluster.YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/04/21 07:22:57 WARN cluster.YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
[Stage 0:>                                                          (0 + 0) / 1]23/04/21 07:23:12 WARN cluster.YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources

+-------------------+--------------------+--------------------+------------------------+-----------+----------+-----------+----------+----------------+-------------+-------------------+-------------------+-------------------+------+
| id_downloaded_post|           post_text|       post_hashtags|unique_impressions_count|share_count|engagement|click_count|like_count|impression_count|comment_count|       publish_time|     last_edit_time|    s_download_time|s_date|
+-------------------+--------------------+--------------------+------------------------+-----------+----------+-----------+----------+----------------+-------------+-------------------+-------------------+-------------------+------+
|6879515477618565120|Bav√≠ tƒõ spr√°va ap...|sql,linux,windows...|                       3|          0|       0.0|          0|         2|               3|            0|2021-12-22 20:19:18|2021-12-22 20:49:56|2023-02-22 08:27:51|202302|
|6879515477618565120|Bav√≠ tƒõ spr√°va ap...|sql,linux,windows...|                       3|          0|       0.0|          0|         2|               3|            0|2021-12-22 20:19:18|2021-12-22 20:49:56|2023-02-22 08:27:51|202302|
|6879515477618565120|Bav√≠ tƒõ spr√°va ap...|sql,linux,windows...|                       3|          0|       0.0|          0|         2|               3|            0|2021-12-22 20:19:18|2021-12-22 20:49:56|2023-02-22 08:27:51|202302|
|6879515477618565120|Bav√≠ tƒõ spr√°va ap...|sql,linux,windows...|                       3|          0|       0.0|          0|         2|               3|            0|2021-12-22 20:19:18|2021-12-22 20:49:56|2023-02-22 08:27:51|202302|
|6879515477618565120|Bav√≠ tƒõ spr√°va ap...|sql,linux,windows...|                       3|          0|       0.0|          0|         2|               3|            0|2021-12-22 20:19:18|2021-12-22 20:49:56|2023-02-22 08:27:51|202302|
|6879515477618565120|Bav√≠ tƒõ spr√°va ap...|sql,linux,windows...|                       3|          0|       0.0|          0|         2|               3|            0|2021-12-22 20:19:18|2021-12-22 20:49:56|2023-02-22 08:27:51|202302|
|6879515477618565120|Bav√≠ tƒõ spr√°va ap...|sql,linux,windows...|                       3|          0|       0.0|          0|         2|               3|            0|2021-12-22 20:19:18|2021-12-22 20:49:56|2023-02-22 08:27:51|202302|
|6879515477618565120|Bav√≠ tƒõ spr√°va ap...|sql,linux,windows...|                       3|          0|       0.0|          0|         2|               3|            0|2021-12-22 20:19:18|2021-12-22 20:49:56|2023-02-22 08:27:51|202302|
|6879515477618565120|Bav√≠ tƒõ spr√°va ap...|sql,linux,windows...|                       3|          0|       0.0|          0|         2|               3|            0|2021-12-22 20:19:18|2021-12-22 20:49:56|2023-02-22 08:27:51|202302|
|6879515477618565120|Bav√≠ tƒõ spr√°va ap...|sql,linux,windows...|                       3|          0|       0.0|          0|         2|               3|            0|2021-12-22 20:19:18|2021-12-22 20:49:56|2023-02-22 08:27:51|202302|
|6879515477618565120|Bav√≠ tƒõ spr√°va ap...|sql,linux,windows...|                       3|          0|       0.0|          0|         2|               3|            0|2021-12-22 20:19:18|2021-12-22 20:49:56|2023-02-22 08:27:51|202302|
|6879515477618565120|Bav√≠ tƒõ spr√°va ap...|sql,linux,windows...|                       3|          0|       0.0|          0|         2|               3|            0|2021-12-22 20:19:18|2021-12-22 20:49:56|2023-02-22 08:27:51|202302|
|6879515477618565120|Bav√≠ tƒõ spr√°va ap...|sql,linux,windows...|                       3|          0|       0.0|          0|         2|               3|            0|2021-12-22 20:19:18|2021-12-22 20:49:56|2023-02-22 08:27:51|202302|
|6692351987050127360|üéâ Congratulation...|top10,top100,adas...|                       0|          0|       0.0|          0|         2|               0|            0|2020-07-24 08:57:31|2020-07-24 08:57:31|2023-02-22 08:27:51|202302|
|6692351987050127360|üéâ Congratulation...|top10,top100,adas...|                       0|          0|       0.0|          0|         2|               0|            0|2020-07-24 08:57:31|2020-07-24 08:57:31|2023-02-22 08:27:51|202302|
|6692351987050127360|üéâ Congratulation...|top10,top100,adas...|                       0|          0|       0.0|          0|         2|               0|            0|2020-07-24 08:57:31|2020-07-24 08:57:31|2023-02-22 08:27:51|202302|
|6692351987050127360|üéâ Congratulation...|top10,top100,adas...|                       0|          0|       0.0|          0|         2|               0|            0|2020-07-24 08:57:31|2020-07-24 08:57:31|2023-02-22 08:27:51|202302|
|6692351987050127360|üéâ Congratulation...|top10,top100,adas...|                       0|          0|       0.0|          0|         2|               0|            0|2020-07-24 08:57:31|2020-07-24 08:57:31|2023-02-22 08:27:51|202302|
|6692351987050127360|üéâ Congratulation...|top10,top100,adas...|                       0|          0|       0.0|          0|         2|               0|            0|2020-07-24 08:57:31|2020-07-24 08:57:31|2023-02-22 08:27:51|202302|
|6692351987050127360|üéâ Congratulation...|top10,top100,adas...|                       0|          0|       0.0|          0|         2|               0|            0|2020-07-24 08:57:31|2020-07-24 08:57:31|2023-02-22 08:27:51|202302|
+-------------------+--------------------+--------------------+------------------------+-----------+----------+-----------+----------+----------------+-------------+-------------------+-------------------+-------------------+------+
only showing top 20 rows

[Stage 1:=============================>                             (1 + 1) / 2]

Poƒçet riadkov: 20688

### 4) Naƒç√≠st p≈ôilo≈æen√Ω CSV file s p≈ôedem nadefinovan√Ωm sch√©matem pomoc√≠ StructType (s hlaviƒçkou, delimiterem)

In [140]:
def read_titanic_csv_with_struct(titanic_path) -> DataFrame:
    # Load Titanic CSV file with pre-defined StructType
    titanic_schema = StructType([
        StructField("PassengerId", IntegerType(), True),
        StructField("Survived", IntegerType(), True),
        StructField("Pclass", IntegerType(), True),
        StructField("Name", StringType(), True),
        StructField("Sex", StringType(), True),
        StructField("Age", FloatType(), True),
        StructField("SibSp", IntegerType(), True),
        StructField("Parch", IntegerType(), True),
        StructField("Ticket", StringType(), True),
        StructField("Fare", FloatType(), True),
        StructField("Cabin", StringType(), True),
        StructField("Embarked", StringType(), True)
    ])

    # naƒçten√≠ dat s definovan√Ωm sch√©matem
    titanic_struct_df = spark.read.format("csv") \
        .option("header", True) \
        .option("delimiter", ",") \
        .schema(titanic_schema) \
        .load(titanic_path)
    
    # Show results
    titanic_struct_df.show(truncate=True)

    # Print schema
    print("StructType schema:")
    titanic_struct_df.printSchema()

    # Print row count
    print("Row count:")
    print(f"StructType: {titanic_struct_df.count()}")

    return titanic_struct_df

In [141]:
titanic_struct_df = read_titanic_csv_with_struct("Data/titanic.csv")

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

StructType schema:
root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: float (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: float (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

Row count:
StructType: 891

### 5) Naƒç√≠st p≈ôilo≈æen√Ω CSV file s p≈ôedem nadefinovan√Ωm sch√©matem pomoc√≠ DDL stringu

In [142]:
def read_titanic_csv_with_ddl(titanic_path) -> DataFrame:

    # Define schema using DDL string
    ddl_schema = """
        PassengerId INT,
        Survived INT,
        Pclass INT,
        Name STRING,
        Sex STRING,
        Age DOUBLE,
        SibSp INT,
        Parch INT,
        Ticket STRING,
        Fare DOUBLE,
        Cabin STRING,
        Embarked STRING
    """

    # Load CSV file with defined schema
    titanic_ddl_df = spark.read.format("csv") \
        .option("header", "true") \
        .option("delimiter", ",") \
        .schema(ddl_schema) \
        .load(titanic_path)
    
    # Show results
    titanic_ddl_df.show(truncate=True)
    
    # Print schema
    print("DDL schema:")
    titanic_ddl_df.printSchema()
    
    # Print row count
    print("Row count:")
    print(f"DDL: {titanic_ddl_df.count()}")
    
    return titanic_ddl_df

In [143]:
titanic_ddl_df = read_titanic_csv_with_ddl("Data/titanic.csv")

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

DDL schema:
root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

Row count:
DDL: 891

### 6) Naƒç√≠st p≈ôilo≈æen√Ω CSV file za pomoci inferSchema (porovnat s ostatn√≠ma)

- Funkcia naƒç√≠ta CSV s√∫bor a automaticky urƒç√≠ typy d√°t pre ka≈æd√Ω stƒ∫pec

In [144]:
def read_titanic_csv_with_infer_schema(titanic_path) -> DataFrame:
    spark = SparkSession.builder.appName("TitanicApp").getOrCreate()

    # Load CSV file with inferred schema
    titanic_infer_df = spark.read.format("csv") \
        .option("header", "true") \
        .option("delimiter", ",") \
        .option("inferSchema", "true") \
        .load(titanic_path)
    
    # Show results
    titanic_infer_df.show(truncate=True)

    # Print schema
    print("Inferred schema:")
    titanic_infer_df.printSchema()

    # Print row count
    print("Row count:")
    print(f"Inferred schema: {titanic_infer_df.count()}")

    return titanic_infer_df

In [145]:
titanic_infer_df = read_titanic_csv_with_infer_schema("Data/titanic.csv")

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

Inferred schema:
root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

Row count:
Inferred schema: 891

### 7) Vyu≈æit√≠ selectu na v√≠ce sloupc≈Ø se vstupem jako string, pyspark.sql.functions.col, colRegex

- colRegex function was added in spark version 3.1.0.

In [146]:
def titanic_df_select(titanic_df, select_string)-> DataFrame:
    # Select columns using string
    selected_cols = [col(c) for c in select_string.split(",")]
    select_df = titanic_df.select(selected_cols)

    # Select columns using col function
    col_df = titanic_df.select(col("Name"), col("Age"), col("Fare"))

    # Select columns using colRegex function
    #regex_df = titanic_df.select(colRegex("Na.e"), colRegex("^Age$"), colRegex("F.r$"))

    return select_df, col_df # ,regex_df

In [147]:
# Call the function
select_df, col_df = titanic_df_select(titanic_struct_df, "Name,Age,Fare")

# Show the results
select_df.show()
col_df.show()
#regex_df.show()

+--------------------+----+-------+
|                Name| Age|   Fare|
+--------------------+----+-------+
|Braund, Mr. Owen ...|22.0|   7.25|
|Cumings, Mrs. Joh...|38.0|71.2833|
|Heikkinen, Miss. ...|26.0|  7.925|
|Futrelle, Mrs. Ja...|35.0|   53.1|
|Allen, Mr. Willia...|35.0|   8.05|
|    Moran, Mr. James|null| 8.4583|
|McCarthy, Mr. Tim...|54.0|51.8625|
|Palsson, Master. ...| 2.0| 21.075|
|Johnson, Mrs. Osc...|27.0|11.1333|
|Nasser, Mrs. Nich...|14.0|30.0708|
|Sandstrom, Miss. ...| 4.0|   16.7|
|Bonnell, Miss. El...|58.0|  26.55|
|Saundercock, Mr. ...|20.0|   8.05|
|Andersson, Mr. An...|39.0| 31.275|
|Vestrom, Miss. Hu...|14.0| 7.8542|
|Hewlett, Mrs. (Ma...|55.0|   16.0|
|Rice, Master. Eugene| 2.0| 29.125|
|Williams, Mr. Cha...|null|   13.0|
|Vander Planke, Mr...|31.0|   18.0|
|Masselmani, Mrs. ...|null|  7.225|
+--------------------+----+-------+
only showing top 20 rows

+--------------------+----+-------+
|                Name| Age|   Fare|
+--------------------+----+-------+
|Braund, Mr. Owen ...|22.0|   7.25|
|Cumings, Mrs. Joh...|38.0|71.2833|
|Heikkinen, Miss. ...|26.0|  7.925|
|Futrelle, Mrs. Ja...|35.0|   53.1|
|Allen, Mr. Willia...|35.0|   8.05|
|    Moran, Mr. James|null| 8.4583|
|McCarthy, Mr. Tim...|54.0|51.8625|
|Palsson, Master. ...| 2.0| 21.075|
|Johnson, Mrs. Osc...|27.0|11.1333|
|Nasser, Mrs. Nich...|14.0|30.0708|
|Sandstrom, Miss. ...| 4.0|   16.7|
|Bonnell, Miss. El...|58.0|  26.55|
|Saundercock, Mr. ...|20.0|   8.05|
|Andersson, Mr. An...|39.0| 31.275|
|Vestrom, Miss. Hu...|14.0| 7.8542|
|Hewlett, Mrs. (Ma...|55.0|   16.0|
|Rice, Master. Eugene| 2.0| 29.125|
|Williams, Mr. Cha...|null|   13.0|
|Vander Planke, Mr...|31.0|   18.0|
|Masselmani, Mrs. ...|null|  7.225|
+--------------------+----+-------+
only showing top 20 rows

### 8) Vyselectit v≈°echny sloupce, pouze prvn√≠ch 5 index≈Ø, selectExpr

In [148]:
def select_first_five_columns(titanic_df):
    return titanic_df.selectExpr(titanic_df.columns[:5])

In [149]:
select_first_five_columns(titanic_struct_df).show(5)

+-----------+--------+------+--------------------+------+
|PassengerId|Survived|Pclass|                Name|   Sex|
+-----------+--------+------+--------------------+------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|
|          2|       1|     1|Cumings, Mrs. Joh...|female|
|          3|       1|     3|Heikkinen, Miss. ...|female|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|
|          5|       0|     3|Allen, Mr. Willia...|  male|
+-----------+--------+------+--------------------+------+
only showing top 5 rows

### 9) Vyu≈æit√≠ funkce filter, negace podm√≠nky, && + ||, isin, contains, endswitch, like, array_contains

In [150]:
# split "Cabin" column into array
titanic_struct_df = titanic_struct_df.withColumn("CabinArray", split(col("Cabin"), ","))

# drop original "Cabin" column
titanic_struct_df = titanic_struct_df.drop("Cabin")

# show result
titanic_struct_df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|CabinArray|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|      null|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|     [C85]|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|      null|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|    [C123]|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|      null|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583|       Q|      null|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|       S|     [E46]|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|       S|      null|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|       S|      null|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|       C|      null|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|       S|      [G6]|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|       S|    [C103]|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|       S|      null|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|       S|      null|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|       S|      null|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|       S|      null|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|       Q|      null|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0|       S|      null|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|       S|      null|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225|       C|      null|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+
only showing top 20 rows

In [151]:
def titanic_dataframe_filter(titanic_df) -> DataFrame:
    # Filter based on Age and Sex columns using '&&', '||', and negation
    filtered_df = titanic_df.filter((col("Age") > 20) & ((col("Sex") == "female") | ~(col("Age") > 50)))

    # Filter based on Embarked column using isin function
    filtered_df = filtered_df.filter(col("Embarked").isin(["C", "Q"]))

    # Filter based on Name column using contains and endswith functions
    filtered_df = filtered_df.filter(col("Name").contains("Mrs.") | col("Name").endswith("ovich"))

    # Filter based on Cabin column using like function
    filtered_df = filtered_df.filter(col("Name").like("%M%"))

    # Filter based on Ticket column using array_contains function
    filtered_df = titanic_df.filter(array_contains(col("CabinArray"), "B18"))

    return filtered_df

In [152]:
filtered_df = titanic_dataframe_filter(titanic_struct_df).show()

+-----------+--------+------+--------------------+------+----+-----+-----+------+-------+--------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|Ticket|   Fare|Embarked|CabinArray|
+-----------+--------+------+--------------------+------+----+-----+-----+------+-------+--------+----------+
|        330|       1|     1|Hippach, Miss. Je...|female|16.0|    0|    1|111361|57.9792|       C|     [B18]|
|        524|       1|     1|Hippach, Mrs. Lou...|female|44.0|    0|    1|111361|57.9792|       C|     [B18]|
+-----------+--------+------+--------------------+------+----+-----+-----+------+-------+--------+----------+

### 10) Funkce where

- V tejto funkcii s√∫ riadky filtrovan√© pomocou funkcie where namiesto funkcie filter.

In [153]:
def filter_titanic_data(titanic_df) -> DataFrame:
    filtered_df = titanic_df.where(col("Age") > 20) \
        .where((col("Sex") == "female") | ~(col("Age") > 50)) \
        .where(col("Embarked").isin(["C", "Q"])) \
        .where(col("Name").contains("Mrs.") | col("Name").endswith("ovich")) \
        .where(array_contains(col("CabinArray"), 'B18'))
        
    return filtered_df

In [154]:
filtered_df = titanic_dataframe_filter(titanic_struct_df).show()

+-----------+--------+------+--------------------+------+----+-----+-----+------+-------+--------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|Ticket|   Fare|Embarked|CabinArray|
+-----------+--------+------+--------------------+------+----+-----+-----+------+-------+--------+----------+
|        330|       1|     1|Hippach, Miss. Je...|female|16.0|    0|    1|111361|57.9792|       C|     [B18]|
|        524|       1|     1|Hippach, Mrs. Lou...|female|44.0|    0|    1|111361|57.9792|       C|     [B18]|
+-----------+--------+------+--------------------+------+----+-----+-----+------+-------+--------+----------+

### 11) Vytvo≈ôit/p≈ôejmenovat sloupce s withColumnRenamed, withColumn
### 12) Vyu≈æ√≠t Drop, dropDuplicates (subset)
### 13) Proj√≠t si agregace pomoc√≠ groupBy (agg,avg, count, sum) 
### 14) ≈òadit df za pomoci Sort, orderBy
### 15) Zkusit si distinct, limit

In [155]:
def manipulate_df(df) -> DataFrame:
    # 11) Vytvo≈ôit/p≈ôejmenovat sloupce s withColumnRenamed, withColumn
    df = df.withColumnRenamed("Pclass", "Class")\
           .withColumn("NewAge", col("Age") + 10)
    
    # 12) Vyu≈æ√≠t Drop, dropDuplicates (subset)
    df = df.drop("SibSp", "Parch")\
           .dropDuplicates(subset=["Name", "NewAge"])
    
    # 13) Proj√≠t si agregace pomoc√≠ groupBy (agg,avg, count, sum)
    df = df.groupBy("Class", "Sex")\
           .agg(avg("NewAge"), count("Name"), sum("Fare"))
    
    # 14) ≈òadit df za pomoci Sort, orderBy
    df = df.sort(col("Class"))\
           .orderBy(col("sum(Fare)").desc())
    
    # 15) Zkusit si distinct, limit
    df = df.distinct()\
           .limit(6)
    
    return df

In [156]:
df_updated = manipulate_df(titanic_struct_df).show()

[Stage 25:=====================================================>(198 + 2) / 200]

+-----+------+------------------+-----------+------------------+
|Class|   Sex|       avg(NewAge)|count(Name)|         sum(Fare)|
+-----+------+------------------+-----------+------------------+
|    1|female| 44.61176470588235|         94| 9975.824983596802|
|    3|female|             31.75|        144|2321.1086139678955|
|    2|  male| 40.74070706993643|        108|2132.1125020980835|
|    2|female|38.722972972972975|         76|1669.7292032241821|
|    1|  male|51.281386139369246|        122| 8201.587522506714|
|    3|  male| 36.50758893310788|        347| 4393.586539268494|
+-----+------+------------------+-----------+------------------+

### 16) Join dvou datafram≈Ø (inner, left, outer, semi - hlavnƒõ jak funguj√≠)

In [157]:
titanic_ddl_df
titanic_struct_df

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: float, SibSp: int, Parch: int, Ticket: string, Fare: float, Embarked: string, CabinArray: array<string>]

- Inner Join: V√Ωsledkem inner joinu jsou pouze ≈ô√°dky, kter√© maj√≠ odpov√≠daj√≠c√≠ hodnoty v obou spojovan√Ωch DataFramech. Tento typ joinu m≈Ø≈æeme prov√©st pomoc√≠ parametru "inner".

In [158]:
inner_joined_df = titanic_struct_df.join(titanic_ddl_df, titanic_struct_df.PassengerId == titanic_ddl_df.PassengerId, how = "inner")
inner_joined_df.show(5)

[Stage 29:>                                                         (0 + 1) / 1]

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|CabinArray|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|      null|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|     [C85]|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|      null|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|    [C123]|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|      null|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [159]:
titanic_struct_df

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: float, SibSp: int, Parch: int, Ticket: string, Fare: float, Embarked: string, CabinArray: array<string>]

In [160]:
titanic_ddl_df

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string]

- Left Join: V√Ωsledkem left joinu jsou v≈°echny ≈ô√°dky z lev√©ho DataFramu a odpov√≠daj√≠c√≠ ≈ô√°dky z prav√©ho DataFramu. Pokud neexistuje odpov√≠daj√≠c√≠ ≈ô√°dek v prav√©m DataFramu, budou v√Ωsledn√© hodnoty null. Tento typ joinu m≈Ø≈æeme prov√©st pomoc√≠ parametru "left".

In [161]:
left_joined_df = titanic_struct_df.join(titanic_ddl_df, titanic_struct_df.PassengerId == titanic_ddl_df.PassengerId, how = "left")
left_joined_df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|CabinArray|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|      null|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|     [C85]|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|      null|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|    [C123]|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|      null|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

- Right Join: V√Ωsledkem right joinu jsou v≈°echny ≈ô√°dky z prav√©ho DataFramu a odpov√≠daj√≠c√≠ ≈ô√°dky z lev√©ho DataFramu. Pokud neexistuje odpov√≠daj√≠c√≠ ≈ô√°dek v lev√©m DataFramu, budou v√Ωsledn√© hodnoty null. Tento typ joinu m≈Ø≈æeme prov√©st pomoc√≠ parametru "right".

In [162]:
right_joined_df = titanic_struct_df.join(titanic_ddl_df, titanic_struct_df.PassengerId == titanic_ddl_df.PassengerId, how = "right")
right_joined_df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|CabinArray|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|      null|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|     [C85]|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|      null|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|    [C123]|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|      null|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

- Outer Join: V√Ωsledkem outer joinu jsou v≈°echny ≈ô√°dky z obou spojovan√Ωch DataFrame, pokud neexistuje odpov√≠daj√≠c√≠ ≈ô√°dek v jednom z DataFrame, budou v√Ωsledn√© hodnoty null. Tento typ joinu m≈Ø≈æeme prov√©st pomoc√≠ parametru "outer".

In [163]:
outer_joined_df = titanic_struct_df.join(titanic_ddl_df, titanic_struct_df.PassengerId == titanic_ddl_df.PassengerId, how = "outer")
outer_joined_df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+--------+----------+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|   Fare|Embarked|CabinArray|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+--------+----------+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----+--------+
|        148|       0|     3|"Ford, Miss. Robi...|female| 9.0|    2|    2|W./C. 6608| 34.375|       S|      null|        148|       0|     3|"Ford, Miss. Robi...|female| 9.0|    2|    2|W./C. 6608| 34.375| null|       S|
|        463|       0|     1|   Gee, Mr. Arthur H|  male|47.0|    0|    0|    111320|   38.5|       S|     [E63]|        463|       0|     1|   Gee, Mr. Arthur H|  male|47.0|    0|    0|    111320|   38.5|  E63|       S|
|        471|       0|     3|   Keefe, Mr. Arthur|  male|null|    0|    0|    323592|   7.25|       S|      null|        471|       0|     3|   Keefe, Mr. Arthur|  male|null|    0|    0|    323592|   7.25| null|       S|
|        496|       0|     3|Yousseff, Mr. Ger...|  male|null|    0|    0|      2627|14.4583|       C|      null|        496|       0|     3|Yousseff, Mr. Ger...|  male|null|    0|    0|      2627|14.4583| null|       C|
|        833|       0|     3|      Saad, Mr. Amin|  male|null|    0|    0|      2671| 7.2292|       C|      null|        833|       0|     3|      Saad, Mr. Amin|  male|null|    0|    0|      2671| 7.2292| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+--------+----------+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----+--------+
only showing top 5 rows

- Leftsemi Join: Semi join je speci√°ln√≠ typ joinu, kter√Ω vrac√≠ pouze ≈ô√°dky z lev√©ho DataFramu, kter√© maj√≠ odpov√≠daj√≠c√≠ hodnoty v prav√©m DataFramu. V√Ωstup neobsahuje ≈æ√°dn√© sloupce z prav√©ho DataFramu.

In [164]:
semi_joined_df = titanic_struct_df.join(titanic_ddl_df.select("PassengerId").distinct(), ["PassengerId"], "leftsemi")
semi_joined_df.show(5)

[Stage 41:===================================>                  (131 + 3) / 200]

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|CabinArray|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|      null|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|     [C85]|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|      null|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|    [C123]|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|      null|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+
only showing top 5 rows

### 17) Cast data typ≈Ø

In [165]:
titanic_ddl_df = titanic_ddl_df.withColumn("Age", col("Age").cast("integer"))

titanic_ddl_df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

### 18) Collect, explode, split, lit

- collect() is an action operation that is used to retrieve all the elements of the dataset as an Array of Row type (from all nodes) to the driver node

In [166]:
def collect_rows(df) -> DataFrame:
    
    rows = df.collect()
    
    return rows

In [167]:
rows = collect_rows(titanic_struct_df)

In [168]:
print(rows)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Embarked='S', CabinArray=None), Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833023071289, Embarked='C', CabinArray=['C85']), Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925000190734863, Embarked='S', CabinArray=None), Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.099998474121094, Embarked='S', CabinArray=['C123']), Row(PassengerId=5, Survived=0, Pclass=3, Name='Allen, Mr. William Henry', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket='373450', Fare=8.050000190734863, Embarked='S', CabinArray=None), Row(PassengerId=6, Survived=0, Pclass=3, Name='Moran, Mr. James', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='330877', Fare=8.45829963684082, Embarked='Q', CabinArray=None), Row(PassengerId=7, Survived=0, Pclass=1, Name='McCarthy, Mr. Timothy J', Sex='male', Age=54.0, SibSp=0, Parch=0, Ticket='17463', Fare=51.86249923706055, Embarked='S', CabinArray=['E46']), Row(PassengerId=8, Survived=0, Pclass=3, Name='Palsson, Master. Gosta Leonard', Sex='male', Age=2.0, SibSp=3, Parch=1, Ticket='349909', Fare=21.075000762939453, Embarked='S', CabinArray=None), Row(PassengerId=9, Survived=1, Pclass=3, Name='Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', Sex='female', Age=27.0, SibSp=0, Parch=2, Ticket='347742', Fare=11.133299827575684, Embarked='S', CabinArray=None), Row(PassengerId=10, Survived=1, Pclass=2, Name='Nasser, Mrs. Nicholas (Adele Achem)', Sex='female', Age=14.0, SibSp=1, Parch=0, Ticket='237736', Fare=30.07080078125, Embarked='C', CabinArray=None), Row(PassengerId=11, Survived=1, Pclass=3, Name='Sandstrom, Miss. Marguerite Rut', Sex='female', Age=4.0, SibSp=1, Parch=1, Ticket='PP 9549', Fare=16.700000762939453, Embarked='S', CabinArray=['G6']), Row(PassengerId=12, Survived=1, Pclass=1, Name='Bonnell, Miss. Elizabeth', Sex='female', Age=58.0, SibSp=0, Parch=0, Ticket='113783', Fare=26.549999237060547, Embarked='S', CabinArray=['C103']), Row(PassengerId=13, Survived=0, Pclass=3, Name='Saundercock, Mr. William Henry', Sex='male', Age=20.0, SibSp=0, Parch=0, Ticket='A/5. 2151', Fare=8.050000190734863, Embarked='S', CabinArray=None), Row(PassengerId=14, Survived=0, Pclass=3, Name='Andersson, Mr. Anders Johan', Sex='male', Age=39.0, SibSp=1, Parch=5, Ticket='347082', Fare=31.274999618530273, Embarked='S', CabinArray=None), Row(PassengerId=15, Survived=0, Pclass=3, Name='Vestrom, Miss. Hulda Amanda Adolfina', Sex='female', Age=14.0, SibSp=0, Parch=0, Ticket='350406', Fare=7.8541998863220215, Embarked='S', CabinArray=None), Row(PassengerId=16, Survived=1, Pclass=2, Name='Hewlett, Mrs. (Mary D Kingcome) ', Sex='female', Age=55.0, SibSp=0, Parch=0, Ticket='248706', Fare=16.0, Embarked='S', CabinArray=None), Row(PassengerId=17, Survived=0, Pclass=3, Name='Rice, Master. Eugene', Sex='male', Age=2.0, SibSp=4, Parch=1, Ticket='382652', Fare=29.125, Embarked='Q', CabinArray=None), Row(PassengerId=18, Survived=1, Pclass=2, Name='Williams, Mr. Charles Eugene', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='244373', Fare=13.0, Embarked='S', CabinArray=None), Row(PassengerId=19, Survived=0, Pclass=3, Name='Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', Sex='female', Age=31.0, SibSp=1, Parch=0, Ticket='345763', Fare=18.0, Embarked='S', CabinArray=None), Row(PassengerId=20, Survived=1, Pclass=3, Name='Masselmani, Mrs. Fatima', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='2649', Fare=7.224999904632568, Embarked='C', CabinArray=None), Row(PassengerId=21, Survived=0, Pclass=2, Name='Fynney, Mr. Joseph J', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket='239865', Fare=26.0, Embarked='S', CabinArray=None), Row(PassengerId=22, Survived=1, Pclass=2, Name='Beesley, Mr. Lawrence', Sex='male', Age=34.0, SibSp=0, Parch=0, Ticket='248698', Fare=13.0, Embarked='S', CabinArray=['D56']), Row(PassengerId=23, Survived=1, Pclass=3, Name='"McGowan, Miss. Anna ""Annie"""', Sex='female', Age=15.0, SibSp=0, Parch=0, Ticket='330923', Fare=8.029199600219727, Embarked='Q', CabinArray=None), Row(PassengerId=24, Survived=1, Pclass=1, Name='Sloper, Mr. William Thompson', Sex='male', Age=28.0, SibSp=0, Parch=0, Ticket='113788', Fare=35.5, Embarked='S', CabinArray=['A6']), Row(PassengerId=25, Survived=0, Pclass=3, Name='Palsson, Miss. Torborg Danira', Sex='female', Age=8.0, SibSp=3, Parch=1, Ticket='349909', Fare=21.075000762939453, Embarked='S', CabinArray=None), Row(PassengerId=26, Survived=1, Pclass=3, Name='Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', Sex='female', Age=38.0, SibSp=1, Parch=5, Ticket='347077', Fare=31.387500762939453, Embarked='S', CabinArray=None), Row(PassengerId=27, Survived=0, Pclass=3, Name='Emir, Mr. Farred Chehab', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='2631', Fare=7.224999904632568, Embarked='C', CabinArray=None), Row(PassengerId=28, Survived=0, Pclass=1, Name='Fortune, Mr. Charles Alexander', Sex='male', Age=19.0, SibSp=3, Parch=2, Ticket='19950', Fare=263.0, Embarked='S', CabinArray=['C23 C25 C27']), Row(PassengerId=29, Survived=1, Pclass=3, Name='"O\'Dwyer, Miss. Ellen ""Nellie"""', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='330959', Fare=7.879199981689453, Embarked='Q', CabinArray=None), Row(PassengerId=30, Survived=0, Pclass=3, Name='Todoroff, Mr. Lalio', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='349216', Fare=7.8958001136779785, Embarked='S', CabinArray=None), Row(PassengerId=31, Survived=0, Pclass=1, Name='Uruchurtu, Don. Manuel E', Sex='male', Age=40.0, SibSp=0, Parch=0, Ticket='PC 17601', Fare=27.720800399780273, Embarked='C', CabinArray=None), Row(PassengerId=32, Survived=1, Pclass=1, Name='Spencer, Mrs. William Augustus (Marie Eugenie)', Sex='female', Age=None, SibSp=1, Parch=0, Ticket='PC 17569', Fare=146.5207977294922, Embarked='C', CabinArray=['B78']), Row(PassengerId=33, Survived=1, Pclass=3, Name='Glynn, Miss. Mary Agatha', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='335677', Fare=7.75, Embarked='Q', CabinArray=None), Row(PassengerId=34, Survived=0, Pclass=2, Name='Wheadon, Mr. Edward H', Sex='male', Age=66.0, SibSp=0, Parch=0, Ticket='C.A. 24579', Fare=10.5, Embarked='S', CabinArray=None), Row(PassengerId=35, Survived=0, Pclass=1, Name='Meyer, Mr. Edgar Joseph', Sex='male', Age=28.0, SibSp=1, Parch=0, Ticket='PC 17604', Fare=82.1707992553711, Embarked='C', CabinArray=None), Row(PassengerId=36, Survived=0, Pclass=1, Name='Holverson, Mr. Alexander Oskar', Sex='male', Age=42.0, SibSp=1, Parch=0, Ticket='113789', Fare=52.0, Embarked='S', CabinArray=None), Row(PassengerId=37, Survived=1, Pclass=3, Name='Mamee, Mr. Hanna', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='2677', Fare=7.2291998863220215, Embarked='C', CabinArray=None), Row(PassengerId=38, Survived=0, Pclass=3, Name='Cann, Mr. Ernest Charles', Sex='male', Age=21.0, SibSp=0, Parch=0, Ticket='A./5. 2152', Fare=8.050000190734863, Embarked='S', CabinArray=None), Row(PassengerId=39, Survived=0, Pclass=3, Name='Vander Planke, Miss. Augusta Maria', Sex='female', Age=18.0, SibSp=2, Parch=0, Ticket='345764', Fare=18.0, Embarked='S', CabinArray=None), Row(PassengerId=40, Survived=1, Pclass=3, Name='Nicola-Yarred, Miss. Jamila', Sex='female', Age=14.0, SibSp=1, Parch=0, Ticket='2651', Fare=11.241700172424316, Embarked='C', CabinArray=None), Row(PassengerId=41, Survived=0, Pclass=3, Name='Ahlin, Mrs. Johan (Johanna Persdotter Larsson)', Sex='female', Age=40.0, SibSp=1, Parch=0, Ticket='7546', Fare=9.475000381469727, Embarked='S', CabinArray=None), Row(PassengerId=42, Survived=0, Pclass=2, Name='Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)', Sex='female', Age=27.0, SibSp=1, Parch=0, Ticket='11668', Fare=21.0, Embarked='S', CabinArray=None), Row(PassengerId=43, Survived=0, Pclass=3, Name='Kraeff, Mr. Theodor', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='349253', Fare=7.8958001136779785, Embarked='C', CabinArray=None), Row(PassengerId=44, Survived=1, Pclass=2, Name='Laroche, Miss. Simonne Marie Anne Andree', Sex='female', Age=3.0, SibSp=1, Parch=2, Ticket='SC/Paris 2123', Fare=41.579200744628906, Embarked='C', CabinArray=None), Row(PassengerId=45, Survived=1, Pclass=3, Name='Devaney, Miss. Margaret Delia', Sex='female', Age=19.0, SibSp=0, Parch=0, Ticket='330958', Fare=7.879199981689453, Embarked='Q', CabinArray=None), Row(PassengerId=46, Survived=0, Pclass=3, Name='Rogers, Mr. William John', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='S.C./A.4. 23567', Fare=8.050000190734863, Embarked='S', CabinArray=None), Row(PassengerId=47, Survived=0, Pclass=3, Name='Lennon, Mr. Denis', Sex='male', Age=None, SibSp=1, Parch=0, Ticket='370371', Fare=15.5, Embarked='Q', CabinArray=None), Row(PassengerId=48, Survived=1, Pclass=3, Name="O'Driscoll, Miss. Bridget", Sex='female', Age=None, SibSp=0, Parch=0, Ticket='14311', Fare=7.75, Embarked='Q', CabinArray=None), Row(PassengerId=49, Survived=0, Pclass=3, Name='Samaan, Mr. Youssef', Sex='male', Age=None, SibSp=2, Parch=0, Ticket='2662', Fare=21.67919921875, Embarked='C', CabinArray=None), Row(PassengerId=50, Survived=0, Pclass=3, Name='Arnold-Franchi, Mrs. Josef (Josefine Franchi)', Sex='female', Age=18.0, SibSp=1, Parch=0, Ticket='349237', Fare=17.799999237060547, Embarked='S', CabinArray=None), Row(PassengerId=51, Survived=0, Pclass=3, Name='Panula, Master. Juha Niilo', Sex='male', Age=7.0, SibSp=4, Parch=1, Ticket='3101295', Fare=39.6875, Embarked='S', CabinArray=None), Row(PassengerId=52, Survived=0, Pclass=3, Name='Nosworthy, Mr. Richard Cater', Sex='male', Age=21.0, SibSp=0, Parch=0, Ticket='A/4. 39886', Fare=7.800000190734863, Embarked='S', CabinArray=None), Row(PassengerId=53, Survived=1, Pclass=1, Name='Harper, Mrs. Henry Sleeper (Myna Haxtun)', Sex='female', Age=49.0, SibSp=1, Parch=0, Ticket='PC 17572', Fare=76.72920227050781, Embarked='C', CabinArray=['D33']), Row(PassengerId=54, Survived=1, Pclass=2, Name='Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', Sex='female', Age=29.0, SibSp=1, Parch=0, Ticket='2926', Fare=26.0, Embarked='S', CabinArray=None), Row(PassengerId=55, Survived=0, Pclass=1, Name='Ostby, Mr. Engelhart Cornelius', Sex='male', Age=65.0, SibSp=0, Parch=1, Ticket='113509', Fare=61.97919845581055, Embarked='C', CabinArray=['B30']), Row(PassengerId=56, Survived=1, Pclass=1, Name='Woolner, Mr. Hugh', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='19947', Fare=35.5, Embarked='S', CabinArray=['C52']), Row(PassengerId=57, Survived=1, Pclass=2, Name='Rugg, Miss. Emily', Sex='female', Age=21.0, SibSp=0, Parch=0, Ticket='C.A. 31026', Fare=10.5, Embarked='S', CabinArray=None), Row(PassengerId=58, Survived=0, Pclass=3, Name='Novel, Mr. Mansouer', Sex='male', Age=28.5, SibSp=0, Parch=0, Ticket='2697', Fare=7.2291998863220215, Embarked='C', CabinArray=None), Row(PassengerId=59, Survived=1, Pclass=2, Name='West, Miss. Constance Mirium', Sex='female', Age=5.0, SibSp=1, Parch=2, Ticket='C.A. 34651', Fare=27.75, Embarked='S', CabinArray=None), Row(PassengerId=60, Survived=0, Pclass=3, Name='Goodwin, Master. William Frederick', Sex='male', Age=11.0, SibSp=5, Parch=2, Ticket='CA 2144', Fare=46.900001525878906, Embarked='S', CabinArray=None), Row(PassengerId=61, Survived=0, Pclass=3, Name='Sirayanian, Mr. Orsen', Sex='male', Age=22.0, SibSp=0, Parch=0, Ticket='2669', Fare=7.2291998863220215, Embarked='C', CabinArray=None), Row(PassengerId=62, Survived=1, Pclass=1, Name='Icard, Miss. Amelie', Sex='female', Age=38.0, SibSp=0, Parch=0, Ticket='113572', Fare=80.0, Embarked=None, CabinArray=['B28']), Row(PassengerId=63, Survived=0, Pclass=1, Name='Harris, Mr. Henry Birkhardt', Sex='male', Age=45.0, SibSp=1, Parch=0, Ticket='36973', Fare=83.4749984741211, Embarked='S', CabinArray=['C83']), Row(PassengerId=64, Survived=0, Pclass=3, Name='Skoog, Master. Harald', Sex='male', Age=4.0, SibSp=3, Parch=2, Ticket='347088', Fare=27.899999618530273, Embarked='S', CabinArray=None), Row(PassengerId=65, Survived=0, Pclass=1, Name='Stewart, Mr. Albert A', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='PC 17605', Fare=27.720800399780273, Embarked='C', CabinArray=None), Row(PassengerId=66, Survived=1, Pclass=3, Name='Moubarek, Master. Gerios', Sex='male', Age=None, SibSp=1, Parch=1, Ticket='2661', Fare=15.245800018310547, Embarked='C', CabinArray=None), Row(PassengerId=67, Survived=1, Pclass=2, Name='Nye, Mrs. (Elizabeth Ramell)', Sex='female', Age=29.0, SibSp=0, Parch=0, Ticket='C.A. 29395', Fare=10.5, Embarked='S', CabinArray=['F33']), Row(PassengerId=68, Survived=0, Pclass=3, Name='Crease, Mr. Ernest James', Sex='male', Age=19.0, SibSp=0, Parch=0, Ticket='S.P. 3464', Fare=8.158300399780273, Embarked='S', CabinArray=None), Row(PassengerId=69, Survived=1, Pclass=3, Name='Andersson, Miss. Erna Alexandra', Sex='female', Age=17.0, SibSp=4, Parch=2, Ticket='3101281', Fare=7.925000190734863, Embarked='S', CabinArray=None), Row(PassengerId=70, Survived=0, Pclass=3, Name='Kink, Mr. Vincenz', Sex='male', Age=26.0, SibSp=2, Parch=0, Ticket='315151', Fare=8.662500381469727, Embarked='S', CabinArray=None), Row(PassengerId=71, Survived=0, Pclass=2, Name='Jenkin, Mr. Stephen Curnow', Sex='male', Age=32.0, SibSp=0, Parch=0, Ticket='C.A. 33111', Fare=10.5, Embarked='S', CabinArray=None), Row(PassengerId=72, Survived=0, Pclass=3, Name='Goodwin, Miss. Lillian Amy', Sex='female', Age=16.0, SibSp=5, Parch=2, Ticket='CA 2144', Fare=46.900001525878906, Embarked='S', CabinArray=None), Row(PassengerId=73, Survived=0, Pclass=2, Name='Hood, Mr. Ambrose Jr', Sex='male', Age=21.0, SibSp=0, Parch=0, Ticket='S.O.C. 14879', Fare=73.5, Embarked='S', CabinArray=None), Row(PassengerId=74, Survived=0, Pclass=3, Name='Chronopoulos, Mr. Apostolos', Sex='male', Age=26.0, SibSp=1, Parch=0, Ticket='2680', Fare=14.45419979095459, Embarked='C', CabinArray=None), Row(PassengerId=75, Survived=1, Pclass=3, Name='Bing, Mr. Lee', Sex='male', Age=32.0, SibSp=0, Parch=0, Ticket='1601', Fare=56.49580001831055, Embarked='S', CabinArray=None), Row(PassengerId=76, Survived=0, Pclass=3, Name='Moen, Mr. Sigurd Hansen', Sex='male', Age=25.0, SibSp=0, Parch=0, Ticket='348123', Fare=7.650000095367432, Embarked='S', CabinArray=['F G73']), Row(PassengerId=77, Survived=0, Pclass=3, Name='Staneff, Mr. Ivan', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='349208', Fare=7.8958001136779785, Embarked='S', CabinArray=None), Row(PassengerId=78, Survived=0, Pclass=3, Name='Moutal, Mr. Rahamin Haim', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='374746', Fare=8.050000190734863, Embarked='S', CabinArray=None), Row(PassengerId=79, Survived=1, Pclass=2, Name='Caldwell, Master. Alden Gates', Sex='male', Age=0.8299999833106995, SibSp=0, Parch=2, Ticket='248738', Fare=29.0, Embarked='S', CabinArray=None), Row(PassengerId=80, Survived=1, Pclass=3, Name='Dowdell, Miss. Elizabeth', Sex='female', Age=30.0, SibSp=0, Parch=0, Ticket='364516', Fare=12.475000381469727, Embarked='S', CabinArray=None), Row(PassengerId=81, Survived=0, Pclass=3, Name='Waelens, Mr. Achille', Sex='male', Age=22.0, SibSp=0, Parch=0, Ticket='345767', Fare=9.0, Embarked='S', CabinArray=None), Row(PassengerId=82, Survived=1, Pclass=3, Name='Sheerlinck, Mr. Jan Baptist', Sex='male', Age=29.0, SibSp=0, Parch=0, Ticket='345779', Fare=9.5, Embarked='S', CabinArray=None), Row(PassengerId=83, Survived=1, Pclass=3, Name='McDermott, Miss. Brigdet Delia', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='330932', Fare=7.787499904632568, Embarked='Q', CabinArray=None), Row(PassengerId=84, Survived=0, Pclass=1, Name='Carrau, Mr. Francisco M', Sex='male', Age=28.0, SibSp=0, Parch=0, Ticket='113059', Fare=47.099998474121094, Embarked='S', CabinArray=None), Row(PassengerId=85, Survived=1, Pclass=2, Name='Ilett, Miss. Bertha', Sex='female', Age=17.0, SibSp=0, Parch=0, Ticket='SO/C 14885', Fare=10.5, Embarked='S', CabinArray=None), Row(PassengerId=86, Survived=1, Pclass=3, Name='Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', Sex='female', Age=33.0, SibSp=3, Parch=0, Ticket='3101278', Fare=15.850000381469727, Embarked='S', CabinArray=None), Row(PassengerId=87, Survived=0, Pclass=3, Name='Ford, Mr. William Neal', Sex='male', Age=16.0, SibSp=1, Parch=3, Ticket='W./C. 6608', Fare=34.375, Embarked='S', CabinArray=None), Row(PassengerId=88, Survived=0, Pclass=3, Name='Slocovski, Mr. Selman Francis', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='SOTON/OQ 392086', Fare=8.050000190734863, Embarked='S', CabinArray=None), Row(PassengerId=89, Survived=1, Pclass=1, Name='Fortune, Miss. Mabel Helen', Sex='female', Age=23.0, SibSp=3, Parch=2, Ticket='19950', Fare=263.0, Embarked='S', CabinArray=['C23 C25 C27']), Row(PassengerId=90, Survived=0, Pclass=3, Name='Celotti, Mr. Francesco', Sex='male', Age=24.0, SibSp=0, Parch=0, Ticket='343275', Fare=8.050000190734863, Embarked='S', CabinArray=None), Row(PassengerId=91, Survived=0, Pclass=3, Name='Christmann, Mr. Emil', Sex='male', Age=29.0, SibSp=0, Parch=0, Ticket='343276', Fare=8.050000190734863, Embarked='S', CabinArray=None), Row(PassengerId=92, Survived=0, Pclass=3, Name='Andreasson, Mr. Paul Edvin', Sex='male', Age=20.0, SibSp=0, Parch=0, Ticket='347466', Fare=7.8541998863220215, Embarked='S', CabinArray=None), Row(PassengerId=93, Survived=0, Pclass=1, Name='Chaffee, Mr. Herbert Fuller', Sex='male', Age=46.0, SibSp=1, Parch=0, Ticket='W.E.P. 5734', Fare=61.17499923706055, Embarked='S', CabinArray=['E31']), Row(PassengerId=94, Survived=0, Pclass=3, Name='Dean, Mr. Bertram Frank', Sex='male', Age=26.0, SibSp=1, Parch=2, Ticket='C.A. 2315', Fare=20.575000762939453, Embarked='S', CabinArray=None), Row(PassengerId=95, Survived=0, Pclass=3, Name='Coxon, Mr. Daniel', Sex='male', Age=59.0, SibSp=0, Parch=0, Ticket='364500', Fare=7.25, Embarked='S', CabinArray=None), Row(PassengerId=96, Survived=0, Pclass=3, Name='Shorney, Mr. Charles Joseph', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='374910', Fare=8.050000190734863, Embarked='S', CabinArray=None), Row(PassengerId=97, Survived=0, Pclass=1, Name='Goldschmidt, Mr. George B', Sex='male', Age=71.0, SibSp=0, Parch=0, Ticket='PC 17754', Fare=34.65420150756836, Embarked='C', CabinArray=['A5']), Row(PassengerId=98, Survived=1, Pclass=1, Name='Greenfield, Mr. William Bertram', Sex='male', Age=23.0, SibSp=0, Parch=1, Ticket='PC 17759', Fare=63.358299255371094, Embarked='C', CabinArray=['D10 D12']), Row(PassengerId=99, Survived=1, Pclass=2, Name='Doling, Mrs. John T (Ada Julia Bone)', Sex='female', Age=34.0, SibSp=0, Parch=1, Ticket='231919', Fare=23.0, Embarked='S', CabinArray=None), Row(PassengerId=100, Survived=0, Pclass=2, Name='Kantor, Mr. Sinai', Sex='male', Age=34.0, SibSp=1, Parch=0, Ticket='244367', Fare=26.0, Embarked='S', CabinArray=None), Row(PassengerId=101, Survived=0, Pclass=3, Name='Petranec, Miss. Matilda', Sex='female', Age=28.0, SibSp=0, Parch=0, Ticket='349245', Fare=7.8958001136779785, Embarked='S', CabinArray=None), Row(PassengerId=102, Survived=0, Pclass=3, Name='"Petroff, Mr. Pastcho (""Pentcho"")"', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='349215', Fare=7.8958001136779785, Embarked='S', CabinArray=None), Row(PassengerId=103, Survived=0, Pclass=1, Name='White, Mr. Richard Frasar', Sex='male', Age=21.0, SibSp=0, Parch=1, Ticket='35281', Fare=77.2874984741211, Embarked='S', CabinArray=['D26']), Row(PassengerId=104, Survived=0, Pclass=3, Name='Johansson, Mr. Gustaf Joel', Sex='male', Age=33.0, SibSp=0, Parch=0, Ticket='7540', Fare=8.654199600219727, Embarked='S', CabinArray=None), Row(PassengerId=105, Survived=0, Pclass=3, Name='Gustafsson, Mr. Anders Vilhelm', Sex='male', Age=37.0, SibSp=2, Parch=0, Ticket='3101276', Fare=7.925000190734863, Embarked='S', CabinArray=None), Row(PassengerId=106, Sur

- explode(): Returns a new row for each element in the given array or map.

In [169]:
def explode_column(df, column) -> DataFrame:

    exploded_df = df.select(explode(split(col(column), ",")).alias(column))
    
    return exploded_df

In [170]:
cabin_df = explode_column(titanic_ddl_df, "Cabin")

In [171]:
cabin_df.show(5)

+-----+
|Cabin|
+-----+
|  C85|
| C123|
|  E46|
|   G6|
| C103|
+-----+
only showing top 5 rows

- split(): split DataFrame string Column into multiple columns.

In [172]:
def split_column(df, column, delimiter) -> DataFrame:
    
    splitted_df = df.withColumn('last_name', split(df[column], delimiter).getItem(0)) \
       .withColumn('first_name', split(df[column], delimiter).getItem(1)) 
    
    return splitted_df

In [173]:
name_df = split_column(titanic_struct_df, "Name", ",")

In [174]:
name_df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+---------+--------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|CabinArray|last_name|          first_name|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+---------+--------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|      null|   Braund|     Mr. Owen Harris|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|     [C85]|  Cumings| Mrs. John Bradle...|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|      null|Heikkinen|         Miss. Laina|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|    [C123]| Futrelle| Mrs. Jacques Hea...|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|      null|    Allen|   Mr. William Henry|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+---------+--------------------+
only showing top 5 rows

- lit(): used to add a new column to DataFrame by assigning a literal or constant value

In [175]:
def add_constant_column(df, new_col_name, column_name, value) -> DataFrame:
  
    const_df = df.withColumn(new_col_name, when(col(column_name) == value,lit("0")).otherwise(lit("1")))
    
    return const_df

In [176]:
const_df = add_constant_column(titanic_struct_df, "New", "Sex", "male")

In [177]:
const_df.show(truncate=False)

+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+--------+----------+---+
|PassengerId|Survived|Pclass|Name                                                   |Sex   |Age |SibSp|Parch|Ticket          |Fare   |Embarked|CabinArray|New|
+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+--------+----------+---+
|1          |0       |3     |Braund, Mr. Owen Harris                                |male  |22.0|1    |0    |A/5 21171       |7.25   |S       |null      |0  |
|2          |1       |1     |Cumings, Mrs. John Bradley (Florence Briggs Thayer)    |female|38.0|1    |0    |PC 17599        |71.2833|C       |[C85]     |1  |
|3          |1       |3     |Heikkinen, Miss. Laina                                 |female|26.0|0    |0    |STON/O2. 3101282|7.925  |S       |null      |1  |
|4          |1       |1     |Futrelle, Mrs. Jacques Heath (Lily May Peel)           |female|35.0|1    |0    |113803          |53.1   |S       |[C123]    |1  |
|5          |0       |3     |Allen, Mr. William Henry                               |male  |35.0|0    |0    |373450          |8.05   |S       |null      |0  |
|6          |0       |3     |Moran, Mr. James                                       |male  |null|0    |0    |330877          |8.4583 |Q       |null      |0  |
|7          |0       |1     |McCarthy, Mr. Timothy J                                |male  |54.0|0    |0    |17463           |51.8625|S       |[E46]     |0  |
|8          |0       |3     |Palsson, Master. Gosta Leonard                         |male  |2.0 |3    |1    |349909          |21.075 |S       |null      |0  |
|9          |1       |3     |Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      |female|27.0|0    |2    |347742          |11.1333|S       |null      |1  |
|10         |1       |2     |Nasser, Mrs. Nicholas (Adele Achem)                    |female|14.0|1    |0    |237736          |30.0708|C       |null      |1  |
|11         |1       |3     |Sandstrom, Miss. Marguerite Rut                        |female|4.0 |1    |1    |PP 9549         |16.7   |S       |[G6]      |1  |
|12         |1       |1     |Bonnell, Miss. Elizabeth                               |female|58.0|0    |0    |113783          |26.55  |S       |[C103]    |1  |
|13         |0       |3     |Saundercock, Mr. William Henry                         |male  |20.0|0    |0    |A/5. 2151       |8.05   |S       |null      |0  |
|14         |0       |3     |Andersson, Mr. Anders Johan                            |male  |39.0|1    |5    |347082          |31.275 |S       |null      |0  |
|15         |0       |3     |Vestrom, Miss. Hulda Amanda Adolfina                   |female|14.0|0    |0    |350406          |7.8542 |S       |null      |1  |
|16         |1       |2     |Hewlett, Mrs. (Mary D Kingcome)                        |female|55.0|0    |0    |248706          |16.0   |S       |null      |1  |
|17         |0       |3     |Rice, Master. Eugene                                   |male  |2.0 |4    |1    |382652          |29.125 |Q       |null      |0  |
|18         |1       |2     |Williams, Mr. Charles Eugene                           |male  |null|0    |0    |244373          |13.0   |S       |null      |0  |
|19         |0       |3     |Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)|female|31.0|1    |0    |345763          |18.0   |S       |null      |1  |
|20         |1       |3     |Masselmani, Mrs. Fatima                                |female|null|0    |0    |2649            |7.225  |C       |null      |1  |
+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+--------+----------+---+
only showing top 20 rows

### 19) Spark UDF - zkusit si aplikovat jednu funkci

In [178]:
def is_embarked_cherbourg(column_name):
    """
    UDF to indicate whether the passenger embarked in Cherbourg
    """
    if column_name == "C":
        return True
    else:
        return False

udf_is_embarked_cherbourg = udf(is_embarked_cherbourg, BooleanType())

In [179]:
titanic_with_embarked_cherbourg = titanic_struct_df.withColumn("embarked_cherbourg", udf_is_embarked_cherbourg(col("Embarked")))

In [180]:
titanic_with_embarked_cherbourg.show(5)

[Stage 47:>                                                         (0 + 1) / 1]

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|CabinArray|embarked_cherbourg|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|      null|             false|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|     [C85]|              true|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|      null|             false|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|    [C123]|             false|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|      null|             false|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------+------------------+
only showing top 5 rows

### 20) Ulo≈æit jako Parquet s partition

In [182]:
titanic_struct_df.write.partitionBy("Embarked").parquet("titanic_partitioned")

In [ ]:
titanic_struct_df.write.partitionBy("Sex").parquet("titanic_partitioned")

### 21) St√°hnout Parquet file z HDFS pomoc√≠ Jupyteru

In [189]:
hdfs_path = "titanic_partitioned"

In [190]:
df = spark.read.format("parquet").load(hdfs_path)
df.show()

[Stage 50:>                                                         (0 + 1) / 1]

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|CabinArray|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+----------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|      null|       S|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|      null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|    [C123]|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|      null|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|     [E46]|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|      null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|      null|       S|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|      [G6]|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|    [C103]|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|      null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|      null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|      null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|      null|       S|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0|      null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|      null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0|      null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|     [D56]|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|   35.5|      [A6]|       S|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|          349909| 21.075|      null|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875|      null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+----------+--------+
only showing top 20 rows

In [191]:
spark.stop()

# Main function

In [ ]:
def main():

    #calling functions
    linfada = linfada_data("linfada_mart","lin_downloaded_posts")
    titanic_struct_df = read_titanic_csv_with_struct("Data/titanic.csv")
    titanic_ddl_df = read_titanic_csv_with_ddl("Data/titanic.csv")
    titanic_infer_df = read_titanic_csv_with_infer_schema("Data/titanic.csv")
    select_df, col_df = titanic_df_select(titanic_struct_df, "Name,Age,Fare")
    first_five_columns = select_first_five_columns(titanic_struct_df)
    filtered_df = titanic_dataframe_filter(titanic_struct_df)
    cabin_df = explode_column(titanic_ddl_df, "Cabin")
    name_df = split_column(titanic_struct_df, "Name", ",")
    const_df = add_constant_column(titanic_struct_df, "New", "Sex", "male")

    
    # end spark
    spark.stop()
    
    return None

In [ ]:
# Starting point for PySpark
if __name__ == '__main__':
    main()
    sys.exit()